<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    
    <title>Document</title>
    
    <style>
        #map { height: 500px; }
    </style>
</head>
<body>
    
    <div id="map"></div>
    <button id="originalPos">Original Position</button>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <script>
        let lat=28.6698791, lng=77.1069164, marker, circle, zoomed;
        var map = L.map('map').setView([lat, lng], 13);
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        const terrainLayer = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}{r}.{ext}', {
            attribution: '&copy; <a href="https://stamen.com">Stamen Design</a> contributors',
            subdomains: 'abcd',
            minZoom: 0,
            maxZoom: 18,
            ext: 'png'
        });
        
        const streetsLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });
        
        const osmHOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'});
        
        const baseLayers = {
            'Streets': streetsLayer,
            'Terrain': terrainLayer,
            'OSM': osmHOT
        };
        
        L.control.layers(baseLayers).addTo(map);
        
        navigator.geolocation.watchPosition(success, error);
        
        
        const btn = document.querySelector("#originalPos");
        function success(position) {
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            const acc = position.coords.accuracy;

            if (marker) {
                map.removeLayer(marker);
                map.removeLayer(circle);
            }
            marker = L.marker([lat,lng]).addTo(map);
            circle = L.circle([lat,lng,{radius: acc}]).addTo(map);
            
            if (!zoomed) {
                zoomed = map.fitBounds(circle.getBounds());
            }
        }
        
        function error() {
            if (error.code === 1) {
                alert("Allow geolocation access");
            } else {
                console.log("Cannot get current location");
            }
        }
        btn.addEventListener("click", ()=>{
            map.setView([lat, lng]);
        
        })
        </script>
</body>
</html>